body {
    font-family: Arial, sans-serif;
    background-color: #f9f4ea;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #3f3f36;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #cdad85;
    border-radius: 8px;
    outline: none;
}

button {
    width: 100%;
    background-color: #c47457;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b16348;
}
